button {
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #fff;
    border-color: #ccc;
    height: 40px;
    width: 120px;
    border-radius: 6px;
    background-color: #00D2F1;
}

button:focus, button:hover {
    background-color: #10E2F9;
}

button:active {
    background-color: #10E2F9;
    border-color: #dbdbdb;
}

#buttons {
    margin: auto;
    width: 600px;
}

#newGrid {
    float: right;
}

footer {
    margin-bottom: 0;
    margin-top: 50px;
    text-align: right;
    background-color: #e9e0d6;
    height: 100px;
    font-size: 30px;
    color: #86269B;
}

body {
    font-family: 'Barrio', cursive;
    margin: 0;
}

header {
    background-color: #FE9601;
    margin-top: 0;
}

h1 {
    letter-spacing: 5px;
    font-size: 80px;
    text-align: center;
    color: white;
    margin-top: 0;
}

.square {
    border: 1px solid grey;
    float: left;
    width: 29px;
    height: 29px;
}

#container {
    width: 500px;
    height: 500px;
    margin: auto;
    padding-top: 20px;
}

.row {
    height: auto;
    overflow: auto;
}